.slide_container {
  height: 100vh;
  min-height: 350px;
}
.slide_container .images-wrap,
.slide_container .images-wrap > div {
  height: 100%;
}

@media (max-width: 600px) {
  .slide_container {
    min-height: 300px;
  }
}
@media (max-width: 900px) {
  .slide_container {
    min-height: 250px;
  }
}
.gallery_img {
  object-fit: cover;
}
.image-gallery-svg {
  height: 120px;
  width: 60px;
  color: #018f55;
}
.image-gallery-slide .image-gallery-image {
  width: 100%;
  object-fit: contain;
}
